[{{ WEBSITE_DOMAIN }}]

user = {{ SHORT_NAME }}
group = {{ SHORT_NAME }}

listen = /var/run/php/{{ WEBSITE_DOMAIN }}.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0666

pm = static
pm.max_children = 15
pm.process_idle_timeout = 10s
pm.max_requests = 500

pm.status_path = /status_phpfpm
ping.path = /ping
ping.response = pong

access.log = /var/www/html/{{ WEBSITE_DOMAIN }}/logs/php.access.log
access.format = "%R - %u %t \"%m %r%Q%q\" %s %f %{mili}d %{kilo}M %C%%"
slowlog = /var/www/html/{{ WEBSITE_DOMAIN }}/logs/php.slow.log

request_slowlog_timeout = 5s
request_terminate_timeout = 30s

catch_workers_output = yes

env[HOSTNAME] = {{ WEBSITE_DOMAIN }}
env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /var/www/html/{{ WEBSITE_DOMAIN }}/tmp
env[TMPDIR] = /var/www/html/{{ WEBSITE_DOMAIN }}/tmp
env[TEMP] = /var/www/html/{{ WEBSITE_DOMAIN }}/tmp

php_admin_value[sendmail_path] = "/usr/sbin/sendmail -t -i -f webmaster@{{ WEBSITE_DOMAIN }}"
php_flag[display_errors] = off
php_admin_value[error_log] = /var/www/html/{{ WEBSITE_DOMAIN }}/logs/php.error.log
php_admin_flag[log_errors] = on
php_admin_flag[allow_url_fopen] = off
php_admin_value[memory_limit] = 256M
php_admin_value[upload_max_filesize] = 128M
php_admin_value[post_max_size] = 128M
php_admin_value[max_execution_time] = 30
php_admin_value[max_input_vars] = 3000
php_admin_value[max_input_time] = 180
;php_admin_value[open_basedir] = /var/www/html/{{ WEBSITE_DOMAIN }}:/var/www/html/{{ WEBSITE_DOMAIN }}/tmp:/var/www/html/{{ WEBSITE_DOMAIN }}/web:/tmp